<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="button-container">
    <p><center><img src="/image/logo.jpeg" width="150px"></center></p>
        <table>
            <tr>
                <a href="http://localhost:8080/moodtracker">
                    <h3>Mood Tracking</h3>
                </a>
                <p>Monitor your daily moods and identify patterns over time.</p>

                <br>
                <a href="http://localhost:8080/help">
                    <h3>Self-Help Resources</h3>
                </a>
                <p>Explore articles, videos, and exercises to support your mental well-being.</p>

            </tr>
            <br>
            <tr>
                <a href="http://localhost:8080/community">
                    <h3>Community Support</h3>
                </a>
                <p>Connect with others, share experiences, and find encouragement.</p>

                <br>
                <a href="http://localhost:8080/counselling">
                    <h3>Anonymous Counseling Support</h3>
                </a>
                <p>Speak with a counselor anonymously for confidential support.</p>
            </tr>
        </table>
    </div>
</body>

</html>